<div class="container">
  <%= form_with(model: @student, url: student_path(@student), method: :patch) do |form| %>

    <div class="row mt-5">

      <div class="col">

      </div>

      <div class="col">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", required: true %>

          <%= form.label :cnic %>
          <%= form.text_field :cnic, class: "form-control", required: true %>
        </div>
        

        <%= form.submit "Update", class: "btn btn-primary mt-3" %>
      </div>

      <div class="col">

      </div>
    </div>

  <% end %>
</div>
