<div class="text-center mt-5">

  <div class="row">
    <div class="col">
      <h2> All Authors </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
    </div>

    <div class="col-6">
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Name</th>
            <th>CNIC</th>
            <th>Books Rented</th>
          </tr>
        </thead>
        <tbody>
          <% @student.each do |student| %>
            <tr>
              <td> <%= student.name %> </td>
              <td> <%= student.cnic %> </td>
              <td> <%= raw(student.books.pluck(:title).join('<br>')) %> </td>
              <td> <%= link_to 'Details', student_path(student), class: 'btn btn-info' %> </td>
              <td> <%= button_to 'Delete', student, method: :delete , class: 'btn btn-info'%> </td>  
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3">
    </div>
  </div>
</div>
