
<ul>
  <%= link_to 'All Books', root_path %></li>
  <%= link_to 'All Authors', authors_path %></li>
  <%= link_to 'Add Book', new_book_path %></li>
  <%= link_to 'Add Author', new_author_path %></li>
  <%= button_to "Sign Out", destroy_admin_session_path, method: :delete %>

</ul>

