<!DOCTYPE html>
<html>
  <head>
    <title>Lab3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>

    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y8/XtyXAgJUA3/NvyLXQsd4FUiVHo4r" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-cNlBbUGJdBeWRt5HwP5qz5uL7BJqSzrQP7rOZdGRsQDFJxl86vDHJAs0bA4cIKpF" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2y8/XtyXAgJUA3/NvyLXQsd4FUiVHo4r" crossorigin="anonymous"></script> %>

  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
